@{
    ViewBag.Title = "ProfileAndNull";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="bs-example card card-1" style="border-radius: 10px;">
    <table class="table">
        <tbody>
            <tr>
                <br />
                <div class="row" style="padding-top: 12px;">
                    <div class="text-center form-group col-md-12">
                        <a href="~/Contact/Add" style="text-align:center; font-size:18px;" role="button">
                            Kişileri rehbere eklemeye başlayabiliriz
                        </a>
                    </div>
                </div>
                <div class="row text-center">
                    <div>
                        <a href="~/Contact/Add" class=" btn bn30" style="text-align:center; font-size:18px;" role="button">
                            <i class="bi bi-person-plus-fill"></i>
                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 16 16">
                                <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                                <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z" />
                            </svg>
                        </a>
                    </div>
                </div>
            </tr>
        </tbody>
    </table>
</div>
