@{
    Layout = null;
}
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> <!--responsive-->
    <script src="~/Scripts/jquery-3.3.1.slim.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <style>
        .form-control {
            margin: auto;
        }
    </style>
</head>
<body>
    <div class="container" style="padding-top:100px;">
        <div class=" card-1" style="background-color:white;">
            <h4 class="title text-center" style="padding-top: 20px; color:black;" id="myModalLabel">E-Posta Gönder</h4>
            <hr />
            <div><h4 class="alert-danger">@ViewBag.Basarili</h4></div>
            <form method="post" class="text-center" action="javascript:btnSend;">
                <div class="col-md-12">
                    <br />
                    <div class="form-group">
                        <label for="email">E-Posta</label>
                        <input type="email" class="form-control" id="txtForgotEmail" aria-describedby="emailHelp" placeholder="E-Posta" required maxlength="60">
                    </div>
                    <br />
                </div>
                <div>
                    <div class="text-center">
                        <button type="submit" id="btnSend" class="btn bn30" style="font-size:14px;">Gönder</button>
                    </div>
                    <br />
                </div>
            </form>
            <div>
                <div class="foot-lnk text-center">
                    <label for="tab-1"><a href="~/Member/Login">Giriş Ekranına Dön</a></label>
                </div>
                <br />
            </div>
        </div>
    </div>


    <script>
        $("#btnSend").click(function () {

            var info = new Object();
            info.Email = $('#txtForgotEmail').val().trim();
            var Email = info.Email;

            if (info.Email === "") {
            }
            else {
                $.ajax({
                    type: "POST",
                    url: "http://tmdcontacts-api.dev.tmd/api/Auths/ForgotPassword?email=" + Email,
                    data: JSON.stringify(info),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        debugger
                        if (response != null) {
                            sessionStorage.setItem("CheckPassword", response);
                            sessionStorage.setItem("ForgotEmail", info.Email);
                            window.location.href = "CheckTheNumber";
                        }
                        else {
                            alert("Bir şeyler yanlış gitti");
                        }
                    },
                    error: function (jqXHR) {
                        alert.text(jqXHR);
                    }
                });
            }
            return true;
        });
    </script>
</body>
</html>
