@model TMDContactsClient.Models.User
@{
    Layout = null;
}


<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> <!--responsive-->
    <script src="~/Scripts/jquery-3.3.1.slim.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <style>
        .form-control {
            margin: auto;
        }
    </style>
</head>
<body>
    <div class="container" style="padding-top:100px;">
        <div class=" card-1" style="background-color:white;">
            <h4 class="title text-center" style="padding-top: 20px; color:black;" id="myModalLabel">Şifre yenile</h4>
            <hr />

            <div style="padding-left:30px; padding-right:30px; padding-top:15px;">
                <!-- Display success if any in the Bootstrap alert -->
                <div id="divSuccess" class="alert alert-success collapse text-center">
                    <a id="linkClose" href="#" class="close">&times;</a>
                    <div id="divSuccessText"></div>
                </div>
                <div class="text-center">
                    <span id="Success"></span>
                </div>
                <!-- Display errors if any in the Bootstrap alert -->
                <div id="divError" class="alert alert-danger collapse text-center">
                    <a id="linkClose2" href="#" class="close">&times;</a>
                    <div id="divErrorText"></div>
                </div>
                <div class="text-center">
                    <span id="error"></span>
                </div>
            </div>

            <form method="post" class="text-center" action="javascript:btnSend;">
                <div class="col-md-12">
                    <br />
                    <div class="form-group">
                        <label>Şifre</label>
                        <input type="password" class="form-control" id="txtPassword" placeholder="Şifre" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="En az bir rakam, bir büyük ve küçük harf ve en az 8 karakter içermelidir" value="" maxlength="100" required>
                    </div>
                    <div class="form-group">
                        <label>Tekrar Şifre</label>
                        <input type="password" class="form-control" id="txtConfirmPassword" placeholder="Şifre" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="En az bir rakam, bir büyük ve küçük harf ve en az 8 karakter içermelidir" value="" maxlength="100" required>
                    </div>
                    <br />
                </div>
                <div>
                    <div class="text-center">
                        <button type="submit" name="submit" id="btnSend" class="btn bn30" style="font-size:14px;" onclick="return Validate()">Kaydet</button>
                    </div>
                    <br />
                </div>
            </form>
            <div>
                <div class="foot-lnk text-center">
                    <label for="tab-1"><a href="~/Member/Login">Giriş Ekranına Git</a></label>
                </div>
                <br />
            </div>
            <br />
        </div>
    </div>


    <script type="text/javascript">
        $("#btnSend").click(function () {

            var password = document.getElementById("txtPassword").value;
            var confirmPassword = document.getElementById("txtConfirmPassword").value;
            if (password != confirmPassword) {
                alert("Şifreleriniz Eşleşmiyor.");
                return false;
            }
            else {
                var info = new Object();
                info.Password = $('#txtPassword').val().trim();
                let Checkdata = sessionStorage.getItem('ForgotEmail');
                info.Email = Checkdata;

                if (info.Password === "" || info.Email === "") {
                    $('#divErrorText').text('Zorunlu alanları doldurunuz');
                    $('#divError').show('fade');
                }
                else {
                    $.ajax({
                        type: "POST",
                        url: "http://tmdcontacts-api.dev.tmd/api/Auths/ResetPassword",
                        data: JSON.stringify(info),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (response) {
                            $('.alert-success').hide();
                            $('.alert-danger').hide();
                            $('#divSuccessText').text(response.message);
                            $('#divSuccess').show('fade');
                        },
                        error: function (response) {
                            $('.alert-success').hide();
                            $('.alert-danger').hide();
                            $('#divErrorText').text(response.responseJSON.message);
                            $('#divError').show('fade');
                        }
                    });
                }
            }
            return true;
        });

        $('#linkClose').click(function () {
            $('#divSuccess').hide('fade');
        });

        $('#linkClose2').click(function () {
            $('#divError').hide('fade');
        });
    </script>
</body>
</html>