@{
    ViewBag.Title = "ResetPasswordVerification";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .form-control {
        margin: auto;
    }
</style>

<div class="card card-1 ">
    <div class="modal-header" style="border: 0;">
        <a href="~/Contact/Index" class="close" data-dismiss="modal" style="color:red;" role="button">&times;</a>
        <h4 class="modal-title text-center" style="padding-top: 15px; color:black;" id="myModalLabel">Şifre yenile</h4>
    </div>
    <hr />
    <form class="text-center" action="javascript:btnSend;">

        <div style="padding-left:30px; padding-right:30px;">
            <!-- Display success if any in the Bootstrap alert -->
            <div id="divSuccess" class="alert alert-success collapse text-center">
                <a id="linkClose" href="#" class="close">&times;</a>
                <div id="divSuccessText"></div>
            </div>
            <div class="text-center">
                <span id="Success"></span>
            </div>
            <!-- Display errors if any in the Bootstrap alert -->
            <div id="divError" class="alert alert-danger collapse text-center">
                <a id="linkClose2" href="#" class="close">&times;</a>
                <div id="divErrorText"></div>
            </div>
            <div class="text-center">
                <span id="error"></span>
            </div>
        </div>

        <div class="col-md-12 ">
            <span id='message'></span>
            <div class="form-group">
                <label>Eski şifre</label>
                <input type="password" class="form-control" id="txtOldPassword" placeholder="Eski şifre" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="En az bir rakam, bir büyük ve küçük harf ve en az 8 karakter içermelidir" value="" maxlength="100" required>
            </div>
            <div class="form-group">
                <label>Yeni şifre</label>
                <input type="password" class="form-control" id="txtPassword" placeholder="Yeni şifre" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="En az bir rakam, bir büyük ve küçük harf ve en az 8 karakter içermelidir" value="" maxlength="100" required>
            </div>
            <div class="form-group">
                <label>Tekrar Yeni şifre</label>
                <input type="password" class="form-control" id="txtConfirmPassword" placeholder="Tekrar Yeni şifre" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="En az bir rakam, bir büyük ve küçük harf ve en az 8 karakter içermelidir" value="" maxlength="100" required>
            </div>
            <br />
        </div>
        <div>
            <div class="text-center">
                <button type="submit" id="btnSend" class="btn bn30" style="font-size:14px;" onclick="return Validate()">Gönder</button>
            </div>
            <br />
        </div>
    </form>
    <br />
</div>

<script>

    $("#btnSend").click(function () {

        var password = document.getElementById("txtPassword").value;
        var confirmPassword = document.getElementById("txtConfirmPassword").value;
        if (password != confirmPassword) {
            alert("Şifreleriniz Eşleşmiyor.");
            return false;
        }
        else
        {
            var info = new Object();
            info.currentPassword = $('#txtOldPassword').val().trim();
            info.Password = $('#txtPassword').val().trim();
            info.Email = sessionStorage.getItem('Email');
            Token = 'Bearer ' + sessionStorage.getItem('Token');

            if (info.Password === "") {
                $('#divErrorText').text('Zorunlu alanları doldurunuz');
                $('#divError').show('fade');
            }
            else
            {
                $.ajax({
                    type: "POST",
                    url: "http://tmdcontacts-api.dev.tmd/api/Auths/ResetPasswordVerification?currentPassword=" + info.currentPassword,
                    data: JSON.stringify(info),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    headers: {
                        'Authorization': Token
                    },
                    success: function (response) {
                        $('.alert-success').hide();
                        $('.alert-danger').hide();
                        $('#divSuccessText').text(response.message);
                        $('#divSuccess').show('fade');
                    },
                    error: function (response) {
                        $('.alert-success').hide();
                        $('.alert-danger').hide();
                        $('#divErrorText').text(response.responseJSON.message);
                        $('#divError').show('fade');
                    }
                });
            }
            return true;
        }
    });

    $('#linkClose').click(function () {
        $('#divSuccess').hide('fade');
    });

    $('#linkClose2').click(function () {
        $('#divError').hide('fade');
    });
</script>