@{
    Layout = null;
}

<script src="~/Scripts/jquery-3.3.1.slim.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />


<div class="row" style="padding-top: 32px; padding-bottom: 32px;">
    <div class="text-center form-group col-md-12">
        <a href="~/Contact/Index" style="text-align:center; font-size:18px;" role="button">
            Grupta üye bulunamadı!
        </a>
    </div>
</div>

